body {
  background-color: bisque;
}


/*** MAP ***/
/* .map-grid {
  background-color: darkcyan;
} */

.map-row {
  display: flex;
  justify-content: center;
}

.map-tile {
  background-color: cornflowerblue;
  border: 2px solid black;
  height: 40px;
  width: 40px;
}

.tile-T {
  background-color: brown;
}

.tile-E {
  background-color: green;
}

.tile-G {
  background-color: greenyellow;
}


/*** PLAYER ***/
.player {
  width: 100%;
  height: 100%;
  background-color: blueviolet;
}


/*** ENCOUNTER MODAL ***/
.modal {
  display: block;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal h1 {
  margin: 40vh auto 30px;
  text-align: center;
  color: blanchedalmond;
}

.modal button {
  display: block;
  margin: 0 auto;
}