body {
  background-color: bisque;
}

.map-grid {
  background-color: darkcyan;
}

.map-row {
  display: flex;
}

.map-tile {
  background-color: cornflowerblue;
  border: 2px solid black;
  margin: 5px;
  height: 50px;
  width: 50px;
}

.tile-T {
  background-color: brown;
}

.tile-E {
  background-color: green;
}

.tile-G {
  background-color: greenyellow;
}